matplotlib==3.9.2
matplotlib-inline==0.1.7
numpy==2.0.0
opt_einsum==3.4.0
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pillow==10.4.0
ply==3.11
prometheus_client==0.21.0
prompt_toolkit==3.0.48
pydub==0.25.1
Pygments==2.18.0
scikit-learn==1.5.1
seaborn==0.13.2
streamlit==1.43.1
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
